
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Pieza</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Compra</th>
    </tr>
  </thead>
  <tbody>
    @for (spare of spares; track spare.id) {
    <tr>
      <th scope="row">1</th>
      <td>{{spare.type}}</td>
      <td>{{spare.brand}}</td>
      <td>{{spare.model}}</td>
      <td>{{spare.price}}</td>
      @if (spare.stock >0) {
        <td>{{ spare.stock }}</td>
      } @else {
        <td>SIN STOCK</td>
      }
      <td>
        <app-input-integer 
          *ngIf="spare.stock" 
          [(quantity)]="spare.quantity"
          [max]="spare.stock">
        </app-input-integer>
        <button class="btn btn-primary" (click)="addToCart(spare)" >Comprar</button>
      </td>
    </tr>
    }
  </tbody>
</table>