<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ilustracion</th>
        <th scope="col">Pieza</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img src="{{spare.img}}" alt="" class="src"></td>
        <td>{{spare.type}}</td>
        <td>{{spare.brand}}</td>
        <td>{{spare.model}}</td>
        <td>{{spare.price}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img src="{{spare.img}}" alt="" class="src"></td>
        <td>Extremo</td>
        <td>Fiat</td>
        <td>Palio</td>
        <td>$50</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><img src="{{spare.img}}" alt="" class="src"></td>
        <td>Axial</td>
        <td>Peugeot</td>
        <td>Palio</td>
        <td>$50</td>
      </tr>

    </tbody>
  </table>